body{
    margin: 0;
    padding: 0;
    background: #262626;
}
.hexagon{
    width: 190px;
    height: 109px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hexagon:before,
.hexagon:after{
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    position:absolute;

}

.hexagon:before{
    transform: rotate(60deg);
}

.hexagon:after{
    transform: rotate(-60deg);
}

.hexagon,
.hexagon:before,
.hexagon:after{
    background: transparent;
    /*border: 1px solid white;*/
    background: rgba(48, 141, 255, .5);
    border-left: 1px solid white;
    border-right: 1px solid white;
}

span{
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    z-index: 2;
}

span:nth-child(1){
    top: -4px;
    left: -4px;
}

span:nth-child(2){
    top: -4px;
    right: -4px;
}

span:nth-child(3){
    bottom: -4px;
    left: -4px;
}

span:nth-child(4){
    bottom: -4px;
    right: -4px;
}

span:nth-child(5){
    top: -60px;
    left: calc(50% - 4px);
}

span:nth-child(6){
    bottom: -60px;
    right: calc(50% - 4px);
}